html {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}
body{
  height: 80%;
  font-family: monospace;
  color:white;
}

.container {
  display: flex; /* Hacemos que el contenedor sea flex */
  gap: 16px; /* Espacio entre las cajas */
  padding: 16px;
  height: 100%; /* Para que ocupe toda la altura de la pantalla */
}

.me {
  flex: 0.5; /* Caja más grande (2 partes de flex-grow) */
  border: 2px solid #d3d3d3; /* Borde gris claro */
  padding: 16px;
  border-radius: 8px;
  
}

.section {
  flex: 1; /* Ocupa menos espacio (1 parte de flex-grow) */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; /* Espacio entre las cajas apiladas */
}

.article {
  flex: 1; /* Las dos cajas ocupan espacio igual dentro del stack */
  border: 2px solid #d3d3d3; /* Borde gris claro */
  border-radius: 8px;
  padding: 16px;


}

.article img{
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}

h1, h2{
  font-family: 'Orbitron';
  color: white;
}

.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

/* Sección superior */
.top {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}

.top img {
  width: auto;
  height: 280px;

}

.txt h1 {
  margin-bottom: 10px;
}

/* Sección inferior */
.bottom {
  margin-top: 20px;
  text-align: center;
}

.icons {
  margin-top: 10px;
}

.icons a img {
  width: 30px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.icons a img:hover {
  transform: scale(1.2);
}

.article .btn{
  display: inline-block;
    margin: 10px auto 20px;
    padding: 10px 20px;
    background-color: rgb(62, 62, 138);
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
}